@model List<GreenDelight.Application.DTOs.BasketItemDtos.BasketItemDto>

<div class="basket-header">
    <h5>Sepetim</h5>
    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
</div>
<ul class="basket-items">
    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            <li class="basket-item">
                <div class="item-image">
                    <img src="~/images/@item.ImageUrl" alt="@item.ProductName" />
                </div>
                <div class="item-details">
                    <h6>@item.ProductName</h6>
                    <p>@item.Quantity x - <span class="price">@item.UnitPrice ₺</span></p>
                </div>
                <div class="remove-item" data-id="@item.BasketItemId">
                    <i class="fa fa-times"></i>
                </div>
            </li>
        }
        <li class="basket-total">
            <div class="total-row">
                <strong>Toplam:</strong>
                <span>@Model.Sum(x => x.UnitPrice * x.Quantity) ₺</span>
            </div>
            <a href="@Url.Action("Index", "Basket")" class="btn-checkout">Siparişi Onayla</a>
        </li>
    }
    else
    {
        <li class="basket-empty">
            <i class="fa fa-shopping-basket empty-icon"></i>
            <p>Sepetinizde ürün bulunmamaktadır.</p>
        </li>
        <li class="basket-total">
            <a href="@Url.Action("Index", "Product")" class="btn-checkout">ALIŞVERİŞE BAŞLA</a>
        </li>
    }
</ul>
